/* //
// $ (dollar) - Синтаксис оголошення змінної -
// & (амперсанд) - батьківський селектор.

// $primaryColor: #888;
// $cardBorderRadius: 4px;

// .product {
//   background-color: $primaryColor;
//   border-radius: $cardBorderRadius;
// }
// лобальные миксины, функции, вспомогательные селекторы и т.д. */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bg-color-button: #f5f4fa;
  --title-font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
img {
  display: block;
  width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

body {
  background-color: var(--privary-white-color);
  color: #757575;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

button {
  font-family: inherit;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

input,
textarea {
  outline: transparent;
}

/* 
скрытый заголовок
*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* index.html - Студія */

/* 
===================================
              HEADER
===================================
*/
.header {
  display: flex;
  height: 80px;
  border-bottom: 1px solid #ececec;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* logo */

.logo {
  color: #000000;
  font-family: var(--title-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}
.accent {
  color: var(--accent-color);
}

/* Навигация сайта */

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-list .nav-link {
  position: relative;
  display: block;
  color: var(--title-text-color);
  letter-spacing: 0.02em;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list .nav-item + .nav-item,
.call-us .nav-item + .nav-item {
  margin-left: 50px;
}

.nav-list .nav-link:focus,
.nav-list .nav-link:hover {
  color: var(--accent-color);
}
.nav-list .nav-link.current {
  color: var(--accent-color);
}
.nav-list .nav-link.current::after,
.nav-link:hover::after {
  position: absolute;
  bottom: 0;
  right: 0;

  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

/* Связь с нами */

.call-us-list {
  display: flex;
  gap: 30px;
}
.call-us-link {
  display: block;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.call-us-list .call-us-link:focus,
.call-us-list .call-us-link:hover {
  color: var(--accent-color);
}

.call-us-item {
  display: flex;
  align-items: center;
}

.call-us-link.mail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.call-us-link.tel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.call-us-list .icon {
  fill: currentColor;
  margin-right: 10px;
}

/* 
=========================
MAIN -- Основной контент
=========================
*/

/* 
=========================
HERO -- ГЕРОЙ
=========================
*/
.hero {
  max-width: 1600px;
  padding: 200px 0;

  text-align: center;
  margin-right: auto;
  margin-left: auto;

  background-color: #2f303a;
  background-image: linear-gradient(to right, #2f303a66 40%, #2f303a66 40%),
    url(../images/studio/hero_photo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .hero-title {
  color: #ffffff;
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  width: 696px;
}

/* 
=========================
кнопка героя
=========================
*/

.button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  min-width: 216px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 30px;
  border: none;
  cursor: pointer;
}

/* 
=========================
Преимущества--Advantages
=========================
*/

.advantages__list {
  display: flex;
  gap: 30px;
}

.advantages__subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}
.advantages__text {
  font-size: 14px;
  line-height: 1.71;
}

.advantages__item {
  width: 270px;
}

.advantages__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.adventages__icon {
  width: 70px;
  height: 70px;
}

.feature {
  padding-top: 0px;
}

/* 
==============================
ЧЕМ МЫ ЗАНИМАЕМСЯ -- SPECIALTY 
==============================
*/
.specialty {
  padding-top: 0;
}

.specialty_title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.specialty-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.specialty-wrap {
  position: relative;
}

.specialty__text {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;

  text-transform: uppercase;
  color: #ffffff;
}

/* 
=========================
      Команда 
=========================
*/
.section.team {
  background-color: #f5f4fa;
}

.team__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  gap: 30px;
}
.team__item {
  text-align: center;

  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__wrap-card {
  padding: 30px 0;
}

.team__person {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.team__position {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

/* 
========================
КОМАНДА--СОЦИАЛЬНЫЕ СЕТИ 
========================
*/

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
}

.social__link:focus .social__icon,
.social__link:hover .social__icon {
  fill: #ffffff;
}
/* 
=========================
НАШИ КЛИЕНТЫ -- CLIENTS
=========================
*/

.clients__title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients__item {
  flex-grow: 1;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:focus,
.clients__link:hover {
  border: 1px solid var(--accent-color);
}

.clients__link:focus .clients__icon,
.clients__link:hover .clients__icon {
  fill: var(--accent-color);
}
/* 
=========================
Footer
=========================
*/

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__adress {
  margin-right: 70px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: 'Raleway';
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.footer__logo .accent {
  color: var(--accent-color);
}

.footer__item + .footer__item {
  margin-top: 9px;
}

.footer__list {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.footer__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link--white {
  color: var(--primary-white-color);
}

.footer__link:focus,
.footer__link:hover {
  color: var(--accent-color);
}

/* контейнер СОЦ.СЕТИ */
.footer__socials {
  color: var(--primary-white-color);
  margin-right: 93px;
}
.socials__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.social__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icon--white {
  fill: #ffffff;
}

.social__link:focus,
.social__link:hover {
  background-color: var(--accent-color);
}

/* Контейнер Подпишись */
.subscribe__title {
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-email {
  width: 358px;
  height: 50px;

  margin-right: 12px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;

  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  color: #ffffff;
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0;

  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe__icon {
  fill: #ffffff;
}
/*
 =============================
  portfolio.html - Портфоліо
 =============================
*/

/*
=========================
кнопки фильтра
=========================
*/

.button-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-bottom: 50px;
}
.button-list .item + .item {
  margin-left: 8px;
}
.button-list .button-filtr:focus,
.button-list .button-filtr:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-list .button-filtr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border: none;
  border-radius: 4px;
  text-align: center;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* 
=========================
примеры работ / карточки 
=========================
*/

.examples-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  gap: 30px;

  transition-property: box-shadow;
  transition-duration: 250ms;
}

.portfolio .portfolio-link {
  display: block;
  color: var(--title-text-color);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples-list .title-card {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio .text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.wrap-card-portfolio {
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.thumb-card {
  position: relative;
  overflow: hidden;
}

.thumb-text {
  position: absolute;
  transform: translateY(0);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);

  display: flex;
  align-items: center;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-link:hover .thumb-text,
.portfolio-link:focus .thumb-text {
  transform: translateY(-100%);
}

/* 
========================= 
модальное окно 
=========================  
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: opacity 600ms, visibility 600ms;

  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;

  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: #ffffff;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 0;

  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.icon-close {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:focus .icon-close,
.modal-btn-close:hover .icon-close {
  fill: var(--accent-color);
}

/* 
=========================
REGISTRATION-FORM
=========================
*/

.form-title {
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--title-text-color);
}

.form-group {
  margin-bottom: 20px;
}

.form-field {
  position: relative;
  display: block;
  width: 100%;
}

.form-field + .form-field {
  margin-top: 10px;
}

.form-field:hover .form-icon,
.form-field:focus .form-icon {
  fill: var(--accent-color);
}
.form-field:hover .form-input {
  border-color: var(--accent-color);
}

.form-label {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:hover .form-message,
.form-field:focus .form-message {
  border-color: var(--accent-color);
}

.form-icon {
  position: absolute;

  bottom: 11px;
  left: 12px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.form-btn.button {
  display: block;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;

  min-width: 200px;
  height: 50px;

  padding: 10px 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
}

.form-icon-unchecked {
  opacity: 1;
}
.form-icon-checked {
  opacity: 0;
}

.form-checkbox:checked + .form-checkbox-icon .form-icon-unchecked {
  opacity: 0;
}
.form-checkbox:checked + .form-checkbox-icon .form-icon-checked {
  opacity: 1;
}
.agreement-title {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.form-agreement-link {
  text-decoration: underline;
  text-underline-position: under;
  color: var(--accent-color);
}
